<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevExpress.XtraRichEdit.Demos.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=H:\Projects\2009.2\Demos.Win\RichEditDemos\Data\nwind.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>
